# Name : Sakshi Bhagavat Barure

# BASIC STATISTICS

## Descriptive Analytics and Data Preprocessing on Sales & Discounts Dataset

### Introduction

●	To perform descriptive analytics, visualize data distributions, and preprocess the dataset for further analysis.

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df=pd.read_csv('sales_data_with_discounts.csv')

In [9]:
df

,Date,Day,SKU,City,Volume,BU,Brand,Model,Avg Price,Total Sales Value,Discount Rate (%),Discount Amount,Net Sales Value
0,01-04-2021,Thursday,M01,C,15,Mobiles,RealU,RU-10,12100,181500,11.654820,21153.498820,160346.501180
1,01-04-2021,Thursday,M02,C,10,Mobiles,RealU,RU-9 Plus,10100,101000,11.560498,11676.102961,89323.897039
2,01-04-2021,Thursday,M03,C,7,Mobiles,YouM,YM-99,16100,112700,9.456886,10657.910157,102042.089843
3,01-04-2021,Thursday,M04,C,6,Mobiles,YouM,YM-99 Plus,20100,120600,6.935385,8364.074702,112235.925298
4,01-04-2021,Thursday,M05,C,3,Mobiles,YouM,YM-98,8100,24300,17.995663,4372.946230,19927.053770
...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,15-04-2021,Thursday,L06,C,2,Lifestyle,Jeera,M-Casuals,1300,2600,15.475687,402.367873,2197.632127
446,15-04-2021,Thursday,L07,C,6,Lifestyle,Viva,W-Western,2600,15600,17.057027,2660.896242,12939.103758
447,15-04-2021,Thursday,L08,C,2,Lifestyle,Viva,W-Lounge,1600,3200,18.965550,606.897606,2593.102394
448,15-04-2021,Thursday,L09,C,3,Lifestyle,Jeera,M-Formals,1900,5700,16.793014,957.201826,4742.798174
449,15-04-2021,Thursday,L10,C,1,Lifestyle,Jeera,M-Shoes,3100,3100,15.333300,475.332295,2624.667705

In [10]:
df.head()

,Date,Day,SKU,City,Volume,BU,Brand,Model,Avg Price,Total Sales Value,Discount Rate (%),Discount Amount,Net Sales Value
0,01-04-2021,Thursday,M01,C,15,Mobiles,RealU,RU-10,12100,181500,11.654820,21153.498820,160346.501180
1,01-04-2021,Thursday,M02,C,10,Mobiles,RealU,RU-9 Plus,10100,101000,11.560498,11676.102961,89323.897039
2,01-04-2021,Thursday,M03,C,7,Mobiles,YouM,YM-99,16100,112700,9.456886,10657.910157,102042.089843
3,01-04-2021,Thursday,M04,C,6,Mobiles,YouM,YM-99 Plus,20100,120600,6.935385,8364.074702,112235.925298
4,01-04-2021,Thursday,M05,C,3,Mobiles,YouM,YM-98,8100,24300,17.995663,4372.946230,19927.053770

In [11]:
df.describe()

,Volume,Avg Price,Total Sales Value,Discount Rate (%),Discount Amount,Net Sales Value
count,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000
mean,5.066667,10453.433333,33812.835556,15.155242,3346.499424,30466.336131
std,4.231602,18079.904840,50535.074173,4.220602,4509.902963,46358.656624
min,1.000000,290.000000,400.000000,5.007822,69.177942,326.974801
25%,3.000000,465.000000,2700.000000,13.965063,460.459304,2202.208645
50%,4.000000,1450.000000,5700.000000,16.577766,988.933733,4677.788059
75%,6.000000,10100.000000,53200.000000,18.114718,5316.495427,47847.912852
max,31.000000,60100.000000,196400.000000,19.992407,25738.022194,179507.479049

In [12]:
df.shape

(450, 13)

In [13]:
df.isnull().sum()

Date                 0
Day                  0
SKU                  0
City                 0
Volume               0
BU                   0
Brand                0
Model                0
Avg Price            0
Total Sales Value    0
Discount Rate (%)    0
Discount Amount      0
Net Sales Value      0
dtype: int64

In [22]:
df.tail()

,Date,Day,SKU,City,Volume,BU,Brand,Model,Avg Price,Total Sales Value,Discount Rate (%),Discount Amount,Net Sales Value
445,15-04-2021,Thursday,L06,C,2,Lifestyle,Jeera,M-Casuals,1300,2600,15.475687,402.367873,2197.632127
446,15-04-2021,Thursday,L07,C,6,Lifestyle,Viva,W-Western,2600,15600,17.057027,2660.896242,12939.103758
447,15-04-2021,Thursday,L08,C,2,Lifestyle,Viva,W-Lounge,1600,3200,18.965550,606.897606,2593.102394
448,15-04-2021,Thursday,L09,C,3,Lifestyle,Jeera,M-Formals,1900,5700,16.793014,957.201826,4742.798174
449,15-04-2021,Thursday,L10,C,1,Lifestyle,Jeera,M-Shoes,3100,3100,15.333300,475.332295,2624.667705

#### Identify numerical columns in the dataset.

In [25]:

numerical_cols = df.select_dtypes(include=[np.number]).columns.tolist()
categorical_cols = df.select_dtypes(exclude=[np.number]).columns.tolist()

# Output the identified columns
print("Numerical Columns:", numerical_cols)

print("Categorical Columns:", categorical_cols)

Numerical Columns: ['Volume', 'Avg Price', 'Total Sales Value', 'Discount Rate (%)', 'Discount Amount', 'Net Sales Value']
Categorical Columns: ['Date', 'Day', 'SKU', 'City', 'BU', 'Brand', 'Model']

#### Calculate the mean, median, mode, and standard deviation for these columns.

# Descriptive Statistics for Numerical Columns

In [29]:
mean=df.mean()
mean

TypeError: Could not convert ['01-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202101-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202102-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202103-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202104-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202105-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202106-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202107-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202108-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202109-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202110-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202111-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202112-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202113-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202114-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-202115-04-2021'
 'ThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridayFridaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySaturdaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundaySundayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayMondayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayTuesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayWednesdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursdayThursday'
 'M01M02M03M04M05M06M07M08M09M10F01F02F03F04F05F06F07F08F09F10L01L02L03L04L05L06L07L08L09L10M01M02M03M04M05M06M07M08M09M10F01F02F03F04F05F06F07F08F09F10L01L02L03L04L05L06L07L08L09L10M01M02M03M04M05M06M07M08M09M10F01F02F03F04F05F06F07F08F09F10L01L02L03L04L05L06L07L08L09L10M01M02M03M04M05M06M07M08M09M10F01F02F03F04F05F06F07F08F09F10L01L02L03L04L05L06L07L08L09L10M01M02M03M04M05M06M07M08M09M10F01F02F03F04F05F06F07F08F09F10L01L02L03L04L05L06L07L08L09L10M01M02M03M04M05M06M07M08M09M10F01F02F03F04F05F06F07F08F09F10L01L02L03L04L05L06L07L08L09L10M01M02M03M04M05M06M07M08M09M10F01F02F03F04F05F06F07F08F09F10L01L02L03L04L05L06L07L08L09L10M01M02M03M04M05M06M07M08M09M10F01F02F03F04F05F06F07F08F09F10L01L02L03L04L05L06L07L08L09L10M01M02M03M04M05M06M07M08M09M10F01F02F03F04F05F06F07F08F09F10L01L02L03L04L05L06L07L08L09L10M01M02M03M04M05M06M07M08M09M10F01F02F03F04F05F06F07F08F09F10L01L02L03L04L05L06L07L08L09L10M01M02M03M04M05M06M07M08M09M10F01F02F03F04F05F06F07F08F09F10L01L02L03L04L05L06L07L08L09L10M01M02M03M04M05M06M07M08M09M10F01F02F03F04F05F06F07F08F09F10L01L02L03L04L05L06L07L08L09L10M01M02M03M04M05M06M07M08M09M10F01F02F03F04F05F06F07F08F09F10L01L02L03L04L05L06L07L08L09L10M01M02M03M04M05M06M07M08M09M10F01F02F03F04F05F06F07F08F09F10L01L02L03L04L05L06L07L08L09L10M01M02M03M04M05M06M07M08M09M10F01F02F03F04F05F06F07F08F09F10L01L02L03L04L05L06L07L08L09L10'
 'CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC'
 'MobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesMobilesFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGFMCGLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyleLifestyle'
 'RealURealUYouMYouMYouMRealUSumsangSumsangOrangeOrangeBabajiVedicVedicBabajiBabajiVedicGearGearGearGearJeeraJeeraVivaVivaJeeraJeeraVivaVivaJeeraJeeraRealURealUYouMYouMYouMRealUSumsangSumsangOrangeOrangeBabajiVedicVedicBabajiBabajiVedicGearGearGearGearJeeraJeeraVivaVivaJeeraJeeraVivaVivaJeeraJeeraRealURealUYouMYouMYouMRealUSumsangSumsangOrangeOrangeBabajiVedicVedicBabajiBabajiVedicGearGearGearGearJeeraJeeraVivaVivaJeeraJeeraVivaVivaJeeraJeeraRealURealUYouMYouMYouMRealUSumsangSumsangOrangeOrangeBabajiVedicVedicBabajiBabajiVedicGearGearGearGearJeeraJeeraVivaVivaJeeraJeeraVivaVivaJeeraJeeraRealURealUYouMYouMYouMRealUSumsangSumsangOrangeOrangeBabajiVedicVedicBabajiBabajiVedicGearGearGearGearJeeraJeeraVivaVivaJeeraJeeraVivaVivaJeeraJeeraRealURealUYouMYouMYouMRealUSumsangSumsangOrangeOrangeBabajiVedicVedicBabajiBabajiVedicGearGearGearGearJeeraJeeraVivaVivaJeeraJeeraVivaVivaJeeraJeeraRealURealUYouMYouMYouMRealUSumsangSumsangOrangeOrangeBabajiVedicVedicBabajiBabajiVedicGearGearGearGearJeeraJeeraVivaVivaJeeraJeeraVivaVivaJeeraJeeraRealURealUYouMYouMYouMRealUSumsangSumsangOrangeOrangeBabajiVedicVedicBabajiBabajiVedicGearGearGearGearJeeraJeeraVivaVivaJeeraJeeraVivaVivaJeeraJeeraRealURealUYouMYouMYouMRealUSumsangSumsangOrangeOrangeBabajiVedicVedicBabajiBabajiVedicGearGearGearGearJeeraJeeraVivaVivaJeeraJeeraVivaVivaJeeraJeeraRealURealUYouMYouMYouMRealUSumsangSumsangOrangeOrangeBabajiVedicVedicBabajiBabajiVedicGearGearGearGearJeeraJeeraVivaVivaJeeraJeeraVivaVivaJeeraJeeraRealURealUYouMYouMYouMRealUSumsangSumsangOrangeOrangeBabajiVedicVedicBabajiBabajiVedicGearGearGearGearJeeraJeeraVivaVivaJeeraJeeraVivaVivaJeeraJeeraRealURealUYouMYouMYouMRealUSumsangSumsangOrangeOrangeBabajiVedicVedicBabajiBabajiVedicGearGearGearGearJeeraJeeraVivaVivaJeeraJeeraVivaVivaJeeraJeeraRealURealUYouMYouMYouMRealUSumsangSumsangOrangeOrangeBabajiVedicVedicBabajiBabajiVedicGearGearGearGearJeeraJeeraVivaVivaJeeraJeeraVivaVivaJeeraJeeraRealURealUYouMYouMYouMRealUSumsangSumsangOrangeOrangeBabajiVedicVedicBabajiBabajiVedicGearGearGearGearJeeraJeeraVivaVivaJeeraJeeraVivaVivaJeeraJeeraRealURealUYouMYouMYouMRealUSumsangSumsangOrangeOrangeBabajiVedicVedicBabajiBabajiVedicGearGearGearGearJeeraJeeraVivaVivaJeeraJeeraVivaVivaJeeraJeera'
 'RU-10RU-9 PlusYM-99YM-99 PlusYM-98 RU-9S-20S-21O-10O-11Babaji Oil Vedic CreamVedic ShampooBabaji ShampooBabaji CreamVedic OilGear OilGear CreamGear ShampooGear BB CreamM- T ShirtsM- InnersW-CasualsW-InnersM-JeansM-CasualsW-WesternW-LoungeM-FormalsM-ShoesRU-10RU-9 PlusYM-99YM-99 PlusYM-98 RU-9S-20S-21O-10O-11Babaji Oil Vedic CreamVedic ShampooBabaji ShampooBabaji CreamVedic OilGear OilGear CreamGear ShampooGear BB CreamM- T ShirtsM- InnersW-CasualsW-InnersM-JeansM-CasualsW-WesternW-LoungeM-FormalsM-ShoesRU-10RU-9 PlusYM-99YM-99 PlusYM-98 RU-9S-20S-21O-10O-11Babaji Oil Vedic CreamVedic ShampooBabaji ShampooBabaji CreamVedic OilGear OilGear CreamGear ShampooGear BB CreamM- T ShirtsM- InnersW-CasualsW-InnersM-JeansM-CasualsW-WesternW-LoungeM-FormalsM-ShoesRU-10RU-9 PlusYM-99YM-99 PlusYM-98 RU-9S-20S-21O-10O-11Babaji Oil Vedic CreamVedic ShampooBabaji ShampooBabaji CreamVedic OilGear OilGear CreamGear ShampooGear BB CreamM- T ShirtsM- InnersW-CasualsW-InnersM-JeansM-CasualsW-WesternW-LoungeM-FormalsM-ShoesRU-10RU-9 PlusYM-99YM-99 PlusYM-98 RU-9S-20S-21O-10O-11Babaji Oil Vedic CreamVedic ShampooBabaji ShampooBabaji CreamVedic OilGear OilGear CreamGear ShampooGear BB CreamM- T ShirtsM- InnersW-CasualsW-InnersM-JeansM-CasualsW-WesternW-LoungeM-FormalsM-ShoesRU-10RU-9 PlusYM-99YM-99 PlusYM-98 RU-9S-20S-21O-10O-11Babaji Oil Vedic CreamVedic ShampooBabaji ShampooBabaji CreamVedic OilGear OilGear CreamGear ShampooGear BB CreamM- T ShirtsM- InnersW-CasualsW-InnersM-JeansM-CasualsW-WesternW-LoungeM-FormalsM-ShoesRU-10RU-9 PlusYM-99YM-99 PlusYM-98 RU-9S-20S-21O-10O-11Babaji Oil Vedic CreamVedic ShampooBabaji ShampooBabaji CreamVedic OilGear OilGear CreamGear ShampooGear BB CreamM- T ShirtsM- InnersW-CasualsW-InnersM-JeansM-CasualsW-WesternW-LoungeM-FormalsM-ShoesRU-10RU-9 PlusYM-99YM-99 PlusYM-98 RU-9S-20S-21O-10O-11Babaji Oil Vedic CreamVedic ShampooBabaji ShampooBabaji CreamVedic OilGear OilGear CreamGear ShampooGear BB CreamM- T ShirtsM- InnersW-CasualsW-InnersM-JeansM-CasualsW-WesternW-LoungeM-FormalsM-ShoesRU-10RU-9 PlusYM-99YM-99 PlusYM-98 RU-9S-20S-21O-10O-11Babaji Oil Vedic CreamVedic ShampooBabaji ShampooBabaji CreamVedic OilGear OilGear CreamGear ShampooGear BB CreamM- T ShirtsM- InnersW-CasualsW-InnersM-JeansM-CasualsW-WesternW-LoungeM-FormalsM-ShoesRU-10RU-9 PlusYM-99YM-99 PlusYM-98 RU-9S-20S-21O-10O-11Babaji Oil Vedic CreamVedic ShampooBabaji ShampooBabaji CreamVedic OilGear OilGear CreamGear ShampooGear BB CreamM- T ShirtsM- InnersW-CasualsW-InnersM-JeansM-CasualsW-WesternW-LoungeM-FormalsM-ShoesRU-10RU-9 PlusYM-99YM-99 PlusYM-98 RU-9S-20S-21O-10O-11Babaji Oil Vedic CreamVedic ShampooBabaji ShampooBabaji CreamVedic OilGear OilGear CreamGear ShampooGear BB CreamM- T ShirtsM- InnersW-CasualsW-InnersM-JeansM-CasualsW-WesternW-LoungeM-FormalsM-ShoesRU-10RU-9 PlusYM-99YM-99 PlusYM-98 RU-9S-20S-21O-10O-11Babaji Oil Vedic CreamVedic ShampooBabaji ShampooBabaji CreamVedic OilGear OilGear CreamGear ShampooGear BB CreamM- T ShirtsM- InnersW-CasualsW-InnersM-JeansM-CasualsW-WesternW-LoungeM-FormalsM-ShoesRU-10RU-9 PlusYM-99YM-99 PlusYM-98 RU-9S-20S-21O-10O-11Babaji Oil Vedic CreamVedic ShampooBabaji ShampooBabaji CreamVedic OilGear OilGear CreamGear ShampooGear BB CreamM- T ShirtsM- InnersW-CasualsW-InnersM-JeansM-CasualsW-WesternW-LoungeM-FormalsM-ShoesRU-10RU-9 PlusYM-99YM-99 PlusYM-98 RU-9S-20S-21O-10O-11Babaji Oil Vedic CreamVedic ShampooBabaji ShampooBabaji CreamVedic OilGear OilGear CreamGear ShampooGear BB CreamM- T ShirtsM- InnersW-CasualsW-InnersM-JeansM-CasualsW-WesternW-LoungeM-FormalsM-ShoesRU-10RU-9 PlusYM-99YM-99 PlusYM-98 RU-9S-20S-21O-10O-11Babaji Oil Vedic CreamVedic ShampooBabaji ShampooBabaji CreamVedic OilGear OilGear CreamGear ShampooGear BB CreamM- T ShirtsM- InnersW-CasualsW-InnersM-JeansM-CasualsW-WesternW-LoungeM-FormalsM-Shoes'] to numeric

In [ ]:
median=df.median()
median

In [ ]:
mode=df.mode()
mode

In [ ]:
std=df.std()
std

### Data Visualization

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Histograms for Numerical Columns 
plt.figure(figsize=(8, 5))
sns.histplot(df['Volume'], kde=True)
plt.title(f'Histogram of Volume')
plt.xlabel(col)
plt.ylabel('Frequency')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Histograms for Numerical Columns 
plt.figure(figsize=(8, 5))
sns.histplot(df['Avg Price'], kde=True)
plt.title(f'Histogram of Avg Price')
plt.xlabel(col)
plt.ylabel('Frequency')
plt.show()

In [ ]:
# Histograms for Numerical Columns 
plt.figure(figsize=(8, 5))
sns.histplot(df['Discount Rate (%)'], kde=True)
plt.title(f'Histogram of Discount Rate (%)')
plt.xlabel(col)
plt.ylabel('Frequency')
plt.show()

In [ ]:
# Boxplots for Numerical Columns
plt.figure(figsize=(8, 5))
sns.boxplot(y=df['Volume'])
plt.title(f'Boxplot of Volume')
plt.ylabel(col)
plt.show()

In [ ]:
# Boxplots for Numerical Columns
plt.figure(figsize=(8, 5))
sns.boxplot(y=df['Avg Price'])
plt.title(f'Boxplot of Avg Price')
plt.ylabel(col)
plt.show()

In [ ]:
# Boxplots for Numerical Columns
plt.figure(figsize=(8, 5))
sns.boxplot(y=df['Total Sales Value'])
plt.title(f'Boxplot of VTotal Sales Value')
plt.ylabel(col)
plt.show()

In [ ]:
# Boxplots for Numerical Columns
plt.figure(figsize=(8, 5))
sns.boxplot(y=df['Discount Rate (%)'])
plt.title(f'Boxplot of Discount Rate (%)')
plt.ylabel(col)
plt.show()

In [ ]:
# Boxplots for Numerical Columns
plt.figure(figsize=(8, 5))
sns.boxplot(y=df['Discount Amount'])
plt.title(f'Boxplot of Discount Amount')
plt.ylabel(col)
plt.show()

In [ ]:
# Boxplots for Numerical Columns
plt.figure(figsize=(8, 5))
sns.boxplot(y=df['Net Sales Value'])
plt.title(f'Boxplot of Net Sales Value')
plt.ylabel(col)
plt.show()

In [ ]:
# Bar Chart Analysis for Categorical Columns
for col in categorical_cols:
    plt.figure(figsize=(8, 5))
    sns.countplot(x=df[col])
    plt.title(f'Bar Chart of {col}')
    plt.xlabel(col)
    plt.ylabel('Count')
    plt.show()

####  Standardization of Numerical Variables

In [45]:
# Z-score Standardization
df_standardized = df.copy()
df_standardized[numerical_cols] = (df[numerical_cols] - df[numerical_cols].mean()) / df[numerical_cols].std()

# Displaying statistics before and after standardization
print("\nBefore Standardization:")
print(df[numerical_cols].describe())

Before Standardization:
           Volume     Avg Price  Total Sales Value  Discount Rate (%)  \
count  450.000000    450.000000         450.000000         450.000000
mean     5.066667  10453.433333       33812.835556          15.155242
std      4.231602  18079.904840       50535.074173           4.220602
min      1.000000    290.000000         400.000000           5.007822
25%      3.000000    465.000000        2700.000000          13.965063
50%      4.000000   1450.000000        5700.000000          16.577766
75%      6.000000  10100.000000       53200.000000          18.114718
max     31.000000  60100.000000      196400.000000          19.992407

       Discount Amount  Net Sales Value
count       450.000000       450.000000
mean       3346.499424     30466.336131
std        4509.902963     46358.656624
min          69.177942       326.974801
25%         460.459304      2202.208645
50%         988.933733      4677.788059
75%        5316.495427     47847.912852
max       25738.022194    179507.479049

In [47]:
print("\nAfter Standardization:")
print(df_standardized[numerical_cols].describe())

After Standardization:
             Volume     Avg Price  Total Sales Value  Discount Rate (%)  \
count  4.500000e+02  4.500000e+02       4.500000e+02       4.500000e+02
mean   4.934325e-17  3.947460e-17       1.184238e-17      -3.552714e-17
std    1.000000e+00  1.000000e+00       1.000000e+00       1.000000e+00
min   -9.610229e-01 -5.621398e-01      -6.611811e-01      -2.404259e+00
25%   -4.883887e-01 -5.524605e-01      -6.156681e-01      -2.819928e-01
50%   -2.520716e-01 -4.979801e-01      -5.563034e-01       3.370428e-01
75%    2.205626e-01 -1.954841e-02       3.836378e-01       7.011977e-01
max    6.128490e+00  2.745953e+00       3.217313e+00       1.146084e+00

       Discount Amount  Net Sales Value
count     4.500000e+02     4.500000e+02
mean     -5.921189e-17     3.947460e-18
std       1.000000e+00     1.000000e+00
min      -7.266945e-01    -6.501345e-01
25%      -6.399340e-01    -6.096839e-01
50%      -5.227531e-01    -5.562833e-01
75%       4.368156e-01     3.749370e-01
max       4.964968e+00     3.214958e+00

#### Conversion of Categorical Data into Dummy Variables (One-Hot Encoding)

In [50]:
# One-Hot Encoding of Categorical Columns
df_encoded = pd.get_dummies(df_standardized, columns=categorical_cols, drop_first=True)

In [52]:
# Displaying a portion of the transformed dataset
print("\nTransformed Dataset (First 5 rows):")
print(df_encoded.head())

Transformed Dataset (First 5 rows):
     Volume  Avg Price  Total Sales Value  Discount Rate (%)  Discount Amount  \
0  2.347417   0.091072           2.922469          -0.829365         3.948422
1  1.165831  -0.019548           1.329516          -0.851714         1.846958
2  0.456880   0.312312           1.561038          -1.350129         1.621190
3  0.220563   0.533552           1.717365          -1.947555         1.112568
4 -0.488389  -0.130168          -0.188242           0.672990         0.227598

   Net Sales Value  Date_02-04-2021  Date_03-04-2021  Date_04-04-2021  \
0         2.801638            False            False            False
1         1.269613            False            False            False
2         1.543957            False            False            False
3         1.763847            False            False            False
4        -0.227342            False            False            False

   Date_05-04-2021  ...  Model_Vedic Cream  Model_Vedic Oil  \
0            False  ...              False            False
1            False  ...              False            False
2            False  ...              False            False
3            False  ...              False            False
4            False  ...              False            False

   Model_Vedic Shampoo  Model_W-Casuals  Model_W-Inners  Model_W-Lounge  \
0                False            False           False           False
1                False            False           False           False
2                False            False           False           False
3                False            False           False           False
4                False            False           False           False

   Model_W-Western  Model_YM-98   Model_YM-99  Model_YM-99 Plus
0            False         False        False             False
1            False         False        False             False
2            False         False         True             False
3            False         False        False              True
4            False          True        False             False

[5 rows x 94 columns]

#### Save the Transformed Dataset

In [55]:
# Save the transformed dataset to a new CSV file
df_encoded.to_csv('transformed_sales_data_with_discounts.csv', index=False)

### Conclusion : 
 ####  using the one-hot encoding  we transformed the data

# THE END